body {
    background-color: rgb(229, 236, 229);/*Определяет цвет фона элемента.*/
    margin: 0%;/*Устанавливает величину отступа от каждого края элемента.*/
    padding: 0%;/*Устанавливает значение полей вокруг содержимого элемента.*/
    
}

.navbar {
    top:0px;/*Для позиционированного элемента определяет расстояние от верхнего края родительского элемента до верхнего края дочернего элемента.*/
    left:0px;/*Для позиционированного элемента определяет расстояние от левого края родительского элемента, не включая отступ, поле и ширину рамки, до левого края дочернего элемента.*/
    width: 100%;/*Устанавливает ширину содержимого элемента. По умолчанию ширина зависит от типа элемента: блочные занимают всю доступную ширину; ширина строчно-блочных равна ширине их содержимому.*/
    position:fixed;/*Устанавливает способ позиционирования элемента относительно окна браузера или других объектов наФиксированное позиционирование. По своему действию это значение близко к absolute, но в отличие от него привязывается к указанной свойствами left, top, right и bottom точке на экране и не меняет своего положения при прокрутке веб-страницы. веб-странице./fixed */
    background-color: rgb(20, 14, 14);
    font-family: arial;/*Устанавливает семейство шрифта, которое будет использоваться для оформления текста содержимого. Список шрифтов может включать одно или несколько названий, разделённых запятой. Если в имени шрифта содержатся пробелы, например, Trebuchet MS, оно должно заключаться в одинарные или двойные кавычки.*/
    font-size: 18px;/*Определяет размер шрифта элемента. Размер может быть установлен несколькими способами. Набор констант (xx-small, x-small, small, medium, large, x-large, xx-large) задаёт размер, который называется абсолютным. По правде говоря, они не совсем абсолютны, поскольку зависят от настроек браузера и операционной системы*/
}

.navc{
    float:right;/*Определяет, по какой стороне будет выравниваться элемент, при этом остальные элементы будут обтекать его с других сторон. Когда значение свойства float равно none, элемент выводится на странице как обычно, при этом допускается, что одна строка обтекающего текста может быть на той же линии, что и сам элемент./right-Выравнивает элемент по правому краю, а все остальные элементы обтекают его по левой стороне.*/
    padding: 15px;
}

ul li {
    display: inline-block;/*Многоцелевое свойство, которое определяет, как элемент должен быть показан в документе./inline-block-Это значение генерирует блочный элемент, который обтекается другими элементами веб-страницы подобно строчному элементу. Фактически такой элемент по своему действию похож на встраиваемые элементы (вроде <img>). При этом его внутренняя часть форматируется как блочный элемент, а сам элемент — как строчный.*/
    margin-right: 50px;/*Устанавливает величину отступа от правого края элемента. Отступом является расстояние от внешнего края правой границы текущего элемента до внутренней границы его родительского элемента*/
    list-style: none;/*Универсальное свойство, позволяющее одновременно задать стиль маркера, его положение, а также изображение, которое будет использоваться в качестве маркера списка.*/
}

ul li a  {
    text-decoration: none;/*Добавляет оформление текста в виде его подчёркивания, перечёркивания или линии над текстом. Одновременно можно применить более одного стиля, перечисляя значения через пробел.*/
    padding: 55px 10px;
    color: rgb(224, 217, 217);/*Определяет цвет текста элемента.*/
}

ul li:hover{
    transform: scale(1.1);/*Трансформирует элемент, в частности, позволяет его масштабировать, вращать, сдвигать, наклонять, а также комбинировать виды трансформаций, перечисляя функции трансформации через пробел./scale- Масштабирует элемент по горизонтали и вертикали.*/
}

.page {/*дестанция между heаder и footer*/
    overflow: hidden;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    margin: 10px;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 14px;
    margin-left: 14px;


}
h1 {
margin: 45px;
font-size: 14px;
margin-left: 14px;
}
content {
    margin: 10px; auto;
    padding: 40px 20px;
}
h2{
    margin-left: 215px;
}
footer  { /*подвал сайта*/
    width: 100%;
    height: auto;
    margin: 0 auto;
    color: rgb(6, 17, 17);
    background-color: rgb(14, 12, 12);
    text-align: center;
    padding-top: 25px;
}
footer A {
color: rgb(224, 217, 217);
font-size: 14px;
margin-left: 14px;
}
